/*
    WFP Buttons Library
    Extension of PureCSS Buttons
*/

.pure-button {
    padding: 0.6em 1em;
    background-image: none;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    font-family: "myriad-pro", "Myriad Pro", "Gill Sans", sans-serif;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: #4AA8FD;
    color: #fff;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 3px;
}
a.pure-button-primary:hover,
a.pure-button-primary:visited {
    border-bottom: none;
    color: #fff;
}

.pure-button-secondary,
a.pure-button-secondary,
a.pure-button-secondary:hover,
a.pure-button-secondary:visited {
    border-bottom: none;
    background-color: #c7c7c7;
    color: #616263;
}

.pure-button-warning,
a.pure-button-warning,
a.pure-button-warning:hover,
a.pure-button-warning:visited {
    border-bottom: none;
    background-color: #FD5248;
    color: #ffffff;
}

.pure-button-attention,
a.pure-button-attention,
a.pure-button-attention:hover,
a.pure-button-attention:visited {
    border-bottom: none;
    background-color: #FFBA3A;
    color: #ffffff;
}

.pure-button-safe,
a.pure-button-safe,
a.pure-button-safe:hover,
a.pure-button-safe:visited {
    border-bottom: none;
    background-color: #BECA27;
    color: #ffffff;
}

.pure-button-active,
.pure-button:active {
    box-shadow: rgba(0,0,0,0.2) 0 0 10px inset;
    border-bottom: none;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    background-image: none;
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    border-bottom: none;
}