/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {background-color: #fff; padding-top: 3em;}
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1.25em;
}

body,
.body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: "myriad-pro", "Myriad Pro", "Gill Sans", sans-serif;
    font-size: 100%;
    line-height: 1.562em;
    color: #303132;
}
h1, h2, h3, h4, h5, h6, .title {
    font-family: "myriad-pro", "Myriad Pro", "Gill Sans", sans-serif;
    font-weight: 600;
    line-height: 1.25em;
}
h5 {font-size: 14px;}
h6 {
    color: #777777;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
strong {font-weight: 600;}
menu, ol, ul {padding: 0 0 0 24px;}
ul {list-style: square;}
ul.notes li {margin-bottom: 0.5em;}
pre {
    font-family: "Source Code Pro", "Consolas", "Lucida Console", monospace;
    font-size: 12px;
    background: #f0f1f2;
    padding: 0.5em 1em;
    border-left: 5px solid #F9B132;
}
code {
    font-family: "Source Code Pro", "Consolas", "Lucida Console", monospace;
    font-size: 13px;
    background: #F9B132;
    color: #fff;
    border-radius: 2px;
    padding: 0.125em 0.5em;
}
blockquote {
    font-style: italic;
    padding-left: 1.5em;
    margin: 1em 2em;
    color: #818283;
    border-left: 5px solid #dadada;
}
small {line-height: 1em;}

.masthead {
    background-color: #4AA8FD;
    border-bottom: 3px solid #4295E0;
    color: #ffffff;
    box-shadow: rgba(0,0,0,0.2) 0 1px 3px;
    padding: 1em 1.25em;
    position: fixed;
    width: 100%;
    top: 0;
}
.masthead .logo {font-size: 1em; margin: 0;}
.masthead .logo a {
    color: #f1f2f3;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.25em;
}

.l-box {
    padding-right: 1.5em; padding-top: 2em;
}
.sub-nav {
    position: fixed;
    top: 5em;
    width: 210px;
    background-color: #fff;
}
.sub-nav .pure-menu {margin-bottom: 1em; border: none;}

.content a {color: #3498DB; text-decoration: none;}
.content a:visited {color: #52BFFF;}
.content a:hover {color: #0192ff; border-bottom: 1px solid #52BFFF;}

.content {max-width: 646px; margin-bottom: 4em; padding-top: 1em;}
.content h2 + p,
.content h3 + p,
.content h4 + p,
.content h5 + p,
.content h6 + p {
    margin-top: 0.5em;
}
.content pre + h3,
.content .preview + h3,
.content p + h3 {
    margin-top: 2em;
}

.section-title {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dedede;
}
.section-center {text-align: center;}

.footer {border-top: 1px solid #f0f0f0; color: #909192; padding: 1em 1.25em;}
.footer .logo {float: left; max-width: 128px;}
.footer .copyrights {float: right;}


/* ==========================================================================
   Section colours & typography
   ========================================================================== */
.alternate {background-color: #212D3C; color: #f0f1f2;}

.wrapper p + ul.inline-grid {margin-top: 3em;}

.inline-grid {
    padding: 0;
    list-style: none;
    display: block;
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 2em;
}
.inline-grid:last-child {margin-bottom: 0;}
.inline-grid li {
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
    background-color: #ffffff;
}
.inline-grid.short li {
    width: 25%;
}
.inline-grid.long li {
    width: 16.666666667%;
}

.inline-grid li:last-child {margin-right: 0;}
.inline-grid .inline-item {
    width: 100%;
    height: 152px;
    line-height: 128px;
    font-size: 48px;
    border-bottom: 1px solid #f0f0f0;
}
.inline-grid.colours .inline-item {border-bottom: 16px solid rgba(0,0,0,0.2);}
.inline-grid.long .inline-item {height: 112px;}

.inline-grid .inline-item.c-1 {background-color: #2C3E50;}
.inline-grid .inline-item.c-2 {background-color: #4AA8FD;}
.inline-grid .inline-item.c-3 {background-color: #ECF0F1;}
.inline-grid .inline-item.c-4 {background-color: #fafafa;}
.inline-grid .inline-item.c-5 {background-color: #46320E;}
.inline-grid .inline-item.c-6 {background-color: #C65614;}
.inline-grid .inline-item.c-7 {background-color: #F9B132;}
.inline-grid .inline-item.c-8 {background-color: #E14D4C;}
.inline-grid .inline-item.c-9 {background-color: #BAD619;}
.inline-grid .inline-item.c-10 {background-color: #52BFFF;}
.inline-grid .desc {padding: 0.75em 0;}
.inline-grid .desc h4,
.inline-grid .desc p {
    font-size: 0.813em;
    margin: 0;
    color: #838485;
    line-height: 1;
    text-transform: uppercase;
}
.inline-grid .desc h4 {font-weight: 600;}

.alternate .inline-grid li {border: none;}


.sans {font-family: "myriad-pro", "Myriad Pro", "Gill Sans", sans-serif;}
.serif {font-family: "ff-meta-serif-web-pro", "Georgia", "Times New Roman", serif;}

.type-light {font-weight: 300;}
.type-medium {font-weight: 400;}
.type-medium-i {font-weight: 400; font-style: italic;}
.type-semi {font-weight: 600;}
.type-semi-i {font-weight: 600; font-style: italic;}
.type-bold {font-weight: 700;}
.type-bold-i {font-weight: 700; font-style: italic;}

.type-sizes {text-align: center; margin: 4em 0;}
.type-sizes .label {
    font-size: 16px;
    font-weight: bold;
    color: #184679;
    margin-bottom: 0;
}
.example {
    text-transform: none;
    margin-top: 0;
}


.preview {
    background-color: #fafafa;
    padding: 3em 2em;
    text-align: center;
    border-top: 2px solid #f0f1f2;
    border-bottom: 2px solid #f0f1f2;
}
.preview.paragraph {
    padding: 1em 2em;
    text-align: left;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
