// Basic variables
$sans-serif-stack:    "lato", "Helvetica Neue", Arial, sans-serif;
$serif-stack:         "calluna", "Georgia", "Times New Roman", serif;
$mono-stack:         "Source Code Pro", "Consolas", "Lucida Console", monospace;
$base-font-size:      16px;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.562em;

$spacing-unit:        32px;

$text-color:          #404040;
$background-color:    #ffffff;

// $primary:             #2A93FC;
$primary:             #44AAFF;
$primary-light:       lighten($primary, 10%);
$primary-dark:        darken($primary, 10%);

$accent:              #FFF9BF;
$accent-1:            #FFFFF3;
$accent-2:            #CFF6BF;
$accent-3:            #B2EEF9;
$accent-4:            #7DD6F4;

$grey:                #404040;
$grey-light:          #f3f3f3;
$grey-lighter:        #fafafa;
$grey-1:              #CCCCCC;
$grey-2:              #8C8C8C;
$grey-3:              #4D4D4D;
$grey-4:              #333333;

$white:               #ffffff;
$yellow:              #FCDC5D;
$orange:              #FFC158;
$red:                 #F97449;
$green:               #B3DE62;

$light-blue:          #51D8F0;

// Width of the content area
$content-width:       1000px;

$sm-screen:           568px;
$md-screen:           768px;
$lg-screen:           1024px;
$xl-screen:           1280px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}