<!-- $class buttons -->
<!-- $title Components / Buttons -->
<!-- @include _header -->

		<div class="content">
			<h1>Buttons</h1>
			<p>We use several buttons for you to choose from, make sure you apply only styles intended for a given element, to make sure it doesn't stand out too much or doesn't bear a different meaning.</p>

			<h6>Primary Button</h6>
			<p>Primary buttons are only used when there is a clear need for a call-to-action. An example of this is a Send button on an contact form, or a Subscribe button on a newsletter subscription form.</p>

			<div class="preview">
				<p><button class="pure-button pure-button-primary">Button (normal)</button></p>
				<p><button class="pure-button pure-button-primary pure-button-active">Button (active)</button></p>
				<p><button class="pure-button pure-button-primary pure-button-disabled">Button (disabled)</button></p>
			</div>

			<pre>&lt;button class="pure-button pure-button-primary"&gt;Button&lt;/button&gt;
&lt;button class="pure-button pure-button-primary pure-button-active"&gt;Button&lt;/button&gt;
&lt;button class="pure-button pure-button-primary pure-button-disabled"&gt;Button&lt;/button&gt;</pre>

			<h6>Secondary Button</h6>
			<p>Secondary buttons are used as a general UI block, for pretty much anything you need.</p>

			<div class="preview">
				<p><button class="pure-button pure-button-secondary size-full">Button (normal)</button></p>
				<p><button class="pure-button pure-button-secondary pure-button-active">Button (active)</button></p>
				<p><button class="pure-button pure-button-secondary pure-button-disabled">Button (disabled)</button></p>
			</div>

			<pre>&lt;button class="pure-button pure-button-secondary"&gt;Button&lt;/button&gt;
&lt;button class="pure-button pure-button-secondary pure-button-active"&gt;Button&lt;/button&gt;
&lt;button class="pure-button pure-button-secondary pure-button-disabled"&gt;Button&lt;/button&gt;</pre>
		</div>

<!-- @include _footer -->