<!-- $class forms -->
<!-- $title Components / Form Elements -->
<!-- @include _header -->

		<div class="content">
			<div class="side-nav">
				<h4>Contents</h4>
				<ol>
					<li><a href="#checkbox">Checkboxes</a></li>
					<li><a href="#radio-btn">Radio Buttons</a></li>
					<li><a href="#select-box">Select Box</a></li>
					<li><a href="#input-fields">Input Fields</a></li>
					<li><a href="#textarea">Textarea</a></li>
				</ol>
			</div>

			<h1>Form Elements</h1>
			<p>Forms are an important part of pages which ask users for input. They should be simple, clear and accessible for all audiences. Below you can find several important components from which the forms are assembled.</p>
			<p>To see how these elements work together, you can have a look at some of the <a href="#">form patterns</a> we use for WFP.</p>

			<h3 class="section-title" id="checkbox">Checkboxes</h3>
			<p>Checkboxes are used to represent a boolean field, where the value is either true or false. Checkbox is always wrapped around a label.</p>

			<div class="preview plain pure-form">
				<label class="input-checkbox" for="sample-1">
					<input type="checkbox" class="checkbox" id="sample-1">Sample Checkbox
				</label>
			</div>

			<pre class="language-markup"><code class="language-markup">&lt;label class="input-checkbox" for="sample-1"&gt;
  &lt;input type="checkbox" id="sample-1"&gt;Sample Checkbox
&lt;/label&gt;</code></pre>

			<h3 class="section-title" id="radio-btn">Radio Buttons</h3>
			<p>Radios are used to allow the user to choose between several options.</p>

			<div class="preview plain pure-form">
				<label class="input-radio" for="option-one">
					<input id="option-one" class="radio" type="radio" name="options" value="1">Sample Radio
				</label>
			</div>

			<pre class="language-markup"><code class="language-markup">&lt;label for="option-one" class="input-radio"&gt;
  &lt;input id="option-one" class="radio" type="radio" name="options" value="1"&gt; Option
&lt;/label&gt;</code></pre>

			<h3 class="section-title" id="select-box">Select Box</h3>
			<p>This box should only be used for picking an option from a collection of no more than 5-8 items.</p>

			<div class="preview plain pure-form">
				<label for="select">Select an option:</label>
				<select id="select" class="select">
					<option>Option #1</option>
					<option>Option #2</option>
					<option>Option #3</option>
				</select>
			</div>

	<pre class="language-markup"><code class="language-markup">&lt;label for="state"&gt;Select an option:&lt;/label&gt;
&lt;select id="select" class="select"&gt;
  &lt;option&gt;Option 1&lt;/option&gt;
  &lt;option&gt;Option 2&lt;/option&gt;
  &lt;option&gt;Option 3&lt;/option&gt;
&lt;/select&gt;</code>
</pre>

			<h3 class="section-title" id="input-fields">Input Fields</h3>
			<p>There are several types of input fields: <em>text</em>, <em>num</em>, <em>tel</em>, <em>email</em>, <em>password</em>, etc. Each of them serves a different purpose and should be used according to this purpose, by specifying a proper <em>input type</em>. <em>Placeholder</em> attribute totally optional.</p>

			<div class="preview plain pure-form pure-form-stacked">
				<label for="name">Your name:</label>
				<input id="name" type="text" placeholder="e.g.: John">
			</div>

			<pre class="language-markup"><code class="language-markup">&lt;label for=&quot;name&quot;&gt;Your name:&lt;/label&gt;
&lt;input id="name" type="text" placeholder="Your Name"&gt;</code></pre>

			<h3 class="section-title" id="textarea">Textarea</h3>
			<p>Text areas are large inputs where users can type and view larger blocks of text. They can also have buttons attached to the bottom.</p>

			<div class="preview plain pure-form pure-form-stacked">
				<label for="big-text">Type in your bio:</label>
				<textarea id="big-text" name="default" class="textarea size-large" placeholder="Some sample text..."></textarea>
			</div>

			<pre class="language-markup"><code class="language-markup">&lt;label for=&quot;big-text&quot;&gt;Type in your bio:&lt;/label&gt;
&lt;textarea id=&quot;big-text&quot; placeholder="This is a text area." class="textarea size-large"&gt;&lt;/textarea&gt;</code></pre>
		</div>

<!-- @include _footer -->