<!-- $class toolkit -->
<!-- $title Components / Branding toolkit -->
<!-- @include _header -->

		<div class="content">
			<h1>Branding Toolkit</h1>
			<p>Making sure your page branding adheres to WFP Online Branding Guidelines, we have prepared a small branding toolkit, which you should use on your pages.</p>

			<h2>Favicons</h2>
			<p>Favicons are small icons that are being often displayed in the browser address bar, stored with bookmarked pages, etc. <em>You should only use the officialy approved favicons.</em></p>
			<p>Add the following lines to the <code class="language-markup">&lt;head&gt;</code> section of your page:</p>

			<pre class="language-markup">
<code class="language-markup">&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-152x152-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-144x144-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-120x120-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-114x114-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-76x76-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;http://cdn.wfp.org/apple-touch-icon-72x72-precomposed.png&quot; /&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; href=&quot;http://cdn.wfp.org/apple-touch-icon-precomposed.png&quot; /&gt;
&lt;link rel=&quot;shortcut icon&quot; href=&quot;http://cdn.wfp.org/favicon.ico&quot; /&gt;</code></pre>

			<p>If your application/website is not able to connect to the Internet, you can use our <a href="<!-- @path files/favicon.zip -->">favicon offline kit</a> to host favicons locally. Download the ZIP file, unpack it and place its contents in the root of your site.</p>
		</div>

<!-- @include _footer -->